# Files ignored by GIT version control

# Build tool (and compiler) temporary output
lib

# Lazarus IDE
# lps (session settings) are user-specific, so they should not be versioned
*.lps
*.dbg
*.res

# Blender
*.blend?

# Unix executable
/TrainingTimer
# Windows executable
/TrainingTimer.exe
# Library files placed alongside Windows executable
*.dll

# other
.vscode
.~*
*.xml
*.ini
*.res
*.blend[0-9]
*.conf
*.log
*.aup3-shm
*.aup3-wal
backup
